.App {
  color: #969696;
  font-family: Arial, Helvetica, sans-serif;
  margin: 30px auto;
  max-width: 600px;
}

.App p {
  font-size: 16px;
  margin-left: 0;
  line-height: 1;
}

.App ul {
  padding: 0;
  padding-top: 15px;
  list-style-type: none;
}

input {
  padding: 5px 5px;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #aaaaaa;
}

footer {
  padding: 15px 0;
}

.weather-icon {
  margin: 0;
  padding: 0;
}

.btn-search,
.btn-current {
  padding: 5px 30px;
  margin: 1px;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
  background-color: white;
  box-shadow: 1px 1px 5px #aaaaaa;
  color: white;
}

.btn-search {
  background-color: #007bff;
}

.btn-current {
  background-color: #28a745;
}

button:hover {
  box-shadow: 2px 3px 5px #aaaaaa;
  font-size: medium;
  transition: 0.3s;
}

.btn-search:hover {
  background-color: #005bff;
}

.btn-current:hover {
  background-color: #208a39;
}

.TodaysForecast {
  text-align: left;
  padding: 40px;
  border: 1px solid #bfbfbf;
  border-radius: 2px;
  box-shadow: 1px 1px 5px #aaaaaa;
}

.text-strong {
  color: #494949;
  font-size: 50px;
  font-weight: 500;
  text-transform: capitalize;
  margin: 30px 0 0 0;
  padding: 0;
}

.weatherForecast {
  margin-top: 40px;
  text-align: center;
}
.weatherForecast img {
  width: 70px;
}

.unit {
  font-size: 18px;
  position: relative;
  top: -22px;
}

.unit a {
  text-decoration: none;
}
.weather-icon-today {
  font-size: 18px;
  position: relative;
  top: -14px;
  left: -15px;
}
