.App {
  color: ##48484a;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 30px auto;
  max-width: 600px;
}

.App p {
  font-size: 14px;
  margin-left: 0;
  line-height: 1;
}

.App ul {
  padding: 0;
  padding-top: 15px;
  list-style-type: none;
  font-size: 18px;
}

input {
  padding: 5px 5px;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #aaaaaa;
}

footer {
  padding: 15px 0;
  text-align: center;
}

.weather-icon {
  margin: 0;
  padding: 0;
}

.btn-search,
.btn-current {
  padding: 5px 30px;
  margin: 1px;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
  background-color: white;
  box-shadow: 1px 1px 5px #aaaaaa;
  color: white;
}

.btn-search {
  background-color: #338dee;
}

.btn-current {
  background-color: #28a745;
}

button:hover {
  box-shadow: 2px 3px 5px #aaaaaa;
  font-size: medium;
  transition: 0.3s;
}

.btn-search:hover {
  background-color: #005bff;
}

.btn-current:hover {
  background-color: #208a39;
}

.TodaysForecast {
  background-image: url("sky.jpg");
  background-color: #cccccc;
  background-size: 600px;
  text-align: left;
  padding: 40px;
  border: 1px solid #bfbfbf;
  border-radius: 2px;
  box-shadow: 1px 1px 5px #aaaaaa;
}
.TodaysForecast p {
  font-size: 20px;
  margin: 5px;
}

.text-strong {
  color: #494949;
  font-size: 54px;
  font-weight: 500;
  text-transform: capitalize;
  margin: 30px 0 0 0;
  padding: 0;
}

.weatherForecast {
  margin-top: 40px;
  text-align: center;
}
.weatherForecast img {
  width: 70px;
}

.unit {
  font-size: 18px;
  position: relative;
  top: -22px;
}

.unit a {
  text-decoration: none;
}
.weather-icon-today {
  width: 100px;
  position: relative;
  top: -14px;
  left: -15px;
}

@media (max-width: 768px) {
  .App {
    max-width: 500px;
  }

  .App p {
    font-size: 12px;
  }

  .App ul {
    font-size: 12px;
  }

  .App img {
    width: 60px;
    display: block;
    position: relative;
    left: 9px;
  }

  input {
    width: 100%;
    padding: 5px 5px;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #aaaaaa;
  }

  .btn-search,
  .btn-current {
    display: block;
    float: right;
    margin-bottom: 20px;
  }

  .text-strong {
    font-size: 40px;
  }

  .unit {
    font-size: 14px;
  }

  .weather-icon-today img {
    width: 100px;
    display: block;
    position: relative;
    left: 165px;
    top: 15px;
  }

  .todayWeatherTemp {
    font-size: 20px;
    display: block;
    position: relative;
    top: -85px;
  }
}
